.judo-club-list {
	display: flex;
	justify-content: left;
	flex-flow: row wrap;

}

.judo-club {
	width: 49%;
	padding-bottom: 1.5em;
	/* @todo: breakpoint to make this single-column on mobile (<600) */
}

.judo-club h1 {
	font-size: 1.5rem;
}

.judo-club h2 {
	font-size: 1rem;
	font-weight: bold;
}

.judo-club p {
}

.judo-club a {
	text-decoration: none;
}

.judo-club a:hover {
	text-decoration: underline;
}

@media only screen and ( max-device-width: 640px ) {

	.judo-club {
		width: 100%;
	}

}
