/* Styles related to COVID announcements */

.covid {
	padding: 0.5em;
	border-radius: 15%;
	font-size: 1.5rem;
}

.covid-open {
	background: #060;
	border: 1px solid #030;
	color: #fff;
}

.covid-closed {
	background: #ff9;
	border: 1px solid #cc6;
}